@page
@model DevHelper.Razor.Pages.PgSolucao.DeleteModel

@{
    ViewData["Title"] = "Deletar Solução";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h1>Deletar Solução</h1>
                </div>
                <div class="card-body">
                    <h4>@Html.DisplayFor(model => model.Problema.Nome)</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">Descrição</dt>
                        <dd class="col-sm-10">@Html.DisplayFor(model => model.Solucao.Descricao)</dd>
                        <dt class="col-sm-2">Problema</dt>
                        <dd class="col-sm-10">@Html.DisplayFor(model => model.Problema.Nome)</dd>
                        <dt class="col-sm-2">Usuário</dt>
                        <dd class="col-sm-10">@Html.DisplayFor(model => model.Usuario.Nome)</dd>
                    </dl>
                    <form method="post">
                        <input type="hidden" asp-for="Solucao.Id" />
                        <div class="form-group d-flex justify-content-between">
                            <input type="submit" value="Deletar" class="btn btn-danger" />
                            <a asp-page="../Index" class="btn btn-secondary text-center">Volte para o Feed</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    .btn.btn-custom {
        background-color: #22ffb6;
        color: #000;
        border: none;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        margin: 5px;
    }

        .btn.btn-custom:hover {
            background-color: #1ccc9a;
            color: #fff;
        }

    .btn.btn-danger {
        background-color: #dc3545;
        color: #fff;
        border: none;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        margin: 5px;
    }

        .btn.btn-danger:hover {
            background-color: #c82333;
            color: #fff;
        }

    .btn-secondary {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text-custom {
        color: #22ffb6;
    }
</style>
