@page
@model DevHelper.Razor.Pages.PgSolucao.EditModel

@{
    ViewData["Title"] = "Editar Solução";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h1>Editar Solução</h1>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        <input type="hidden" asp-for="Solucao.Id" />

                        <input type="hidden" name="id" value="@Model.Solucao.Id" />

                        <div class="form-group mb-4">
                            <label class="control-label">Problema</label>
                            <input class="form-control" value="@Model.Problema?.Nome" readonly />
                        </div>

                        <div class="form-group mb-4">
                            <label class="control-label">Usuário</label>
                            <input class="form-control" value="@Model.Usuario?.Nome" readonly />
                        </div>

                        <div class="form-group mb-4">
                            <label asp-for="Solucao.Descricao" class="control-label">Descrição</label>
                            <textarea asp-for="Solucao.Descricao" class="form-control" rows="5" maxlength="1500"></textarea>
                            <span asp-validation-for="Solucao.Descricao" class="text-danger"></span>
                        </div>

                        <div class="form-group d-flex justify-content-between">
                            <input type="submit" value="Salvar" class="btn btn-custom" />
                            <a asp-page="../Index" class="btn btn-secondary text-center">Volte para o Feed</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    .btn.btn-custom {
        background-color: #22ffb6;
        color: #000;
        border: none;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        margin: 5px;
    }

        .btn.btn-custom:hover {
            background-color: #1ccc9a;
            color: #fff;
        }

    .text-custom {
        color: #22ffb6;
    }

    .btn-secondary {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
