@page
@model DevHelper.Razor.Pages.PgProblema.CreateModel

@{
    ViewData["Title"] = "Cadastrar Problema";
}

<h1>Cadastrar Problema</h1>
<hr />
<div class="row">
    <div class="col-md-8">
        <form method="post" enctype="multipart/form-data" id="problemaForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h3>@Model.Problema.Usuario.Nome</h3>
                <input type="hidden" asp-for="Problema.UsuarioId" value="@Model.Problema.Usuario.Id" />
                <span asp-validation-for="Problema.UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h3>Nome do Problema</h3>
                <input asp-for="Problema.Nome" class="form-control" />
                <span asp-validation-for="Problema.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h3>@Html.LabelFor(m => m.Problema.Descricao)</h3>
                <textarea asp-for="Problema.Descricao" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Problema.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-custom" style="margin-top: 7.5px;" />
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <h2>Upload de Arquivo</h2>
        <input type="file" id="fileInput" name="UploadedFiles" multiple class="form-control" />
        <ul id="fileList" class="list-unstyled mt-2"></ul>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    document.getElementById('fileInput').addEventListener('change', function () {
        const fileInput = this;
        const fileList = document.getElementById('fileList');
        fileList.innerHTML = ''; // Clear the list before adding new files

        for (let i = 0; i < fileInput.files.length; i++) {
            const fileName = fileInput.files[i].name;
            const listItem = document.createElement('li');
            listItem.textContent = fileName;
            fileList.appendChild(listItem);
        }
    });

    document.getElementById('problemaForm').addEventListener('submit', function (e) {
        e.preventDefault(); // Prevent default form submission
        const formData = new FormData(this);
        const fileInput = document.getElementById('fileInput');

        for (let i = 0; i < fileInput.files.length; i++) {
            formData.append('UploadedFiles', fileInput.files[i]);
        }

        for (let pair of formData.entries()) {
            console.log(pair[0] + ': ' + pair[1]); // Log to confirm form data before submission
        }

        fetch(this.action, {
            method: 'POST',
            body: formData,
        }).then(response => response.json())
            .then(result => {
                if (result.redirectUrl) {
                    window.location.href = result.redirectUrl; // Redirect after successful submission
                } else {
                    console.error('Redirection URL not found in the response.');
                }
            })
            .catch(error => console.error('Error:', error));
    });
</script>

<style>
    .btn.btn-custom {
        background-color: #22ffb6;
        color: #000;
        border: none;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        margin: 5px;
    }

        .btn.btn-custom:hover {
            background-color: #1ccc9a;
            color: #fff;
        }

    .text-custom {
        color: #22ffb6;
    }
</style>
