@page
@model DevHelper.Razor.Pages.PgProblema.CreateModel

@{
    ViewData["Title"] = "Cadastrar Problema";
}

<h1>Cadastrar Problema</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Problema.UsuarioId" class="control-label"></label>
                <input asp-for="Problema.UsuarioId" class="form-control" readonly />
                <span asp-validation-for="Problema.UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Problema.Nome" class="control-label"></label>
                <input asp-for="Problema.Nome" class="form-control" />
                <span asp-validation-for="Problema.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Problema.Descricao" class="control-label"></label>
                <input asp-for="Problema.Descricao" class="form-control" />
                <span asp-validation-for="Problema.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <h2>Upload de Arquivo</h2>
            <input type="file" id="fileInput" multiple>
            <ul id="fileList"></ul>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Index">Back to List</a>
</div>

<script>
    document.getElementById('fileInput').addEventListener('change', function () {
        const fileInput = this;
        const fileList = document.getElementById('fileList');
        fileList.innerHTML = ''; // Clear the list before adding new files

        for (let i = 0; i < fileInput.files.length; i++) {
            const fileName = fileInput.files[i].name;
            const listItem = document.createElement('li');
            listItem.textContent = fileName;
            fileList.appendChild(listItem);
        }
    });
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
