@page
@model DevHelper.Razor.Pages.PgProblema.DeleteModel

@{
    ViewData["Title"] = "Deletar Problema";
}


<h2>Tem certeza que deseja deletar este problema?</h2>
<hr />
<div>
    <h4>@Html.DisplayFor(model => model.Problema.Nome)</h4>
    <dl class="row mt-3">
        <dt class="col-sm-2">
            Nome
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Problema.Nome)
        </dd>
        <dt class="col-sm-2">
            Descrição
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Problema.Descricao)
        </dd>
        <dt class="col-sm-2">
            Usuário
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Problema.Usuario.Email)
        </dd>
    </dl>
    <hr />
    <form method="post" class="d-flex justify-content-center mt-4">
        <input type="hidden" asp-for="Problema.Id" />
        <input type="submit" value="Deletar" class="btn btn-custom btn-danger" />
    </form>
</div>

<style>
    .btn.btn-custom {
        background-color: #22ffb6;
        color: #000;
        border: none;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        margin: 5px;
    }

        .btn.btn-custom.btn-danger {
            background-color: #ff4d4d;
        }

            .btn.btn-custom.btn-danger:hover {
                background-color: #ff1a1a;
                color: #fff;
            }

    .text-custom {
        color: #22ffb6;
    }

    .feed-container {
        margin-top: 20px;
    }

    .feed-item {
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }

        .feed-item div {
            margin-bottom: 10px;
        }

    .clickable-label {
        cursor: pointer;
        color: #000;
        text-decoration: none;
    }

        .clickable-label:hover {
            text-decoration: underline;
        }
</style>
