@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var user = HttpContextAccessor.HttpContext.User;
    var userId = user.FindFirstValue(ClaimTypes.NameIdentifier);
    var userName = user.FindFirstValue(ClaimTypes.Name);
}

<nav class="menuSuperior">
    <div class="MenuSuperior">
        <div class="d-flex justify-content-between align-items-center w-50">
            <a id="LogoDaPagina" class="navbar-brand" asp-area="" asp-page="/PgProblema/Index">DevHelper</a>

            <ul class="navbar-nav d-flex flex-row align-items-center">
                <li class="nav-item me-2">
                    <input class="barraDePesquisar" type="text" id="barraDePesquisa" name="barraDePesquisa" placeholder="Digite para Pesquisar">
                </li>
                <li class="nav-item">
                    <button class="btnProblema" id="btnProblema"><a asp-area="" asp-page="/PgProblema/Index">Pesquisar</a></button>
                </li>
                <li class="BtnProblema">
                    <button class="btnProblema" id="btnProblema"><a asp-area="" asp-page="/PgProblema/Create">Adicionar um problema</a></button>
                </li>

                @if (!string.IsNullOrEmpty(userId))
                {
                    <li class="BtnLogin">
                        <a asp-page="/PgCadUsuario/Details" asp-route-id="@userId" class="btn btn-link">@userName</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
