@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var user = HttpContextAccessor.HttpContext.User;
    var userId = user.FindFirstValue(ClaimTypes.NameIdentifier);
    var userName = user.FindFirstValue(ClaimTypes.Name);
}

<nav class="menuSuperior">
    <div class="MenuSuperior">
        <div class="d-flex justify-content-between align-items-center w-50">
            <a id="LogoDaPagina" class="navbar-brand" asp-area="" asp-page="/PgProblema/Index">DevHelper</a>

            <ul class="navbar-nav d-flex flex-row align-items-center">
                <li class="nav-item me-2">
                    <form method="get" asp-page="/PgProblema/Pesquisa" class="d-flex">
                        <input class="barraDePesquisar" type="text" id="barraDePesquisa" name="query" placeholder="Digite para Pesquisar">
                        <button type="submit" class="btnProblema">Pesquisar</button>
                    </form>
                </li>
                <li class="nav-item me-2">
                    <form method="get" asp-page="/PgProblema/Create" class="d-flex">
                        <button type="submit" class="btnProblema">Adicionar um problema</button>
                    </form>
                </li>

                @if (!string.IsNullOrEmpty(userId))
                {
                    <li class="nav-item me-2">
                        <a asp-page="/PgCadUsuario/Details" asp-route-id="@userId" class="btn btn-link">@userName</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
